<div>
  Tables
</div>

<div>
  <ul>
    <% @dd_tables.each do |dd_table| %>
      <li><%= link_to dd_table.name, dd_table %>
    <% end %>
  </ul>
</div>

<%= link_to 'Create a Table', new_dd_table_path %>
